* {
	box-sizing: border-box;
}
/*This styles the BODY of the CALCUMAX*/
.calc {
	width: 500px;
	height: 600px;
	background-color: cadetblue;
	margin: 50px auto;
	border-radius: 50px;
	padding: 7px;
	text-align: center;
}

/*This styles the DISPLAY SCREEN*/
.calc > #screen {
	background-color: white;
	width: 70%;
	height: 70px;
	margin: 20px auto;
	border-radius: 50px 15px;
	font-size: 18pt;
	text-align: right;
	word-wrap: break-word;
	padding-right: 10px;
}


/*This styles the CLEAR button*/
.calc > button {
	width: 100px;
	background-color: lightgreen;
	padding: 7px;
	margin-left:20px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0px 5px 10px 0px green, 0 6px 20px 0 rgba(0,0,0,0.19);
}
.calc > button:hover {
	background-color: orange;
	outline-color: black;
	width: 150px;
	color: white;
}

/*This styles the OPERANDS / OPERATORS row*/
.calc > #operands {
	display: block;
	padding: 30px 10px;
	width: 80px;
	height: auto;
	float: left;
}
.calc > #operands .opera {
	padding: 7px;
	margin-top:  15px;
	width: 75px;
	height: 50px;
	max-height: 50px;
	background-color: aqua;
	cursor: pointer;
	border-radius: 10px;
	
}


/*This styles the FIGURES div*/
.calc > #numbers {
	padding-top: 20px;
	width: 350px;
	float: right;
}
.calc > #numbers .figures {
	padding: 10px;
	margin-top:  15px;
	width: 75px;
	height: 40px;
	background-color: khaki;
	cursor: pointer;
	border-radius: 10px;
	margin: 10px;
	
}
.calc > #numbers span button {
	height: 70px;
	width: 50px;
  	background-color: darkkhaki;
	border-radius: 20px;
	cursor: pointer;
}


/*
This styles the EQUAL TO section*/
.calc > section button {
	background-color: rosybrown;
	width: 200px;
	padding: 7px;
	border-radius: 10px;
	cursor: pointer;
}
.calc > section {
	clear: both;
	width: 100%;
}
.calc > section button:hover {
	width: 250px;
	border-radius: 20px 5px;
	background-color: firebrick;
}
@media screen and (max-width: 520px) and (min-width: 320px) { 
	.calc {
		width: 100%;
		padding: 5px;
	}
	.calc > #operands {
	display: block;
	padding: 30px 10px;
	width: 80px;
	height: auto;
	float: left;
}
	.calc > #operands .opera {
	padding: 7px;
	margin-top:  5px;
	width: 45px;
	height: 50px;
	max-height: 50px;
	background-color: aqua;
	cursor: pointer;
	border-radius: 10px;
	}
	.calc > #numbers .figures {
	padding: 7px;
	margin-top:  10px;
	width: 50px;
	height: 40px;
	background-color: khaki;
	cursor: pointer;
	border-radius: 10px;
	margin: 10px;
	}
	.calc > #numbers {
	padding-top: 20px;
	width: 250px;
	float: right;
	}
	

}